html {
  box-sizing: border-box;
  line-height: 1.3;
  font-family: "Crimson Text", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1em auto;
}

article {
  padding: 1em;
}

article h1 {
  font-style: normal;
  font-size: 1.5rem;
  color: #222;
  font-weight: lighter;
}

header {
  border-bottom: 2px solid #999;
}

article header p {
  font-style: italic;
  font-size: 1.125rem;
  color: #555;
}

article p {
  color: #222;
}

article ol {
  color: #222;
}

blockquote p {
  color: #999;
  font-size: 1.5rem;
}

.quote {
  color: #999;
}

body {
  margin: 0.05rem;
  padding-left: 5em;
  padding-right: 5em;
}
